<form action="enter" method='POST'>
    <fieldset>
        <legend>Login</legend>
        <input type="email" name="email" placeholder="Email" value=email />
        <input type="password" name="password" placeholder="Password" value=password />
        <button class="small" {{action "login" }}>Enter</button>
    </fieldset>
</form>