<div class="row">
    <div class="col-md-4">
        <div class="well">
            <p class="text-centered">
            </p>
            <h4></h4>
            <table>
                <tr><td>Code:</td><td></td></tr>
                <tr><td>Description:</td><td></td></tr>                
            </table>
            <p>
                {{#link-to 'settings.sequences'}}Back{{/link-to}}
            </p>
        </div>
    </div>
    <div class="col-md-8">
        {{outlet}}
    </div>
</div>